html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #b6dbd5;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1 {
  font-size: 60px;
  letter-spacing: 6px;
  margin: 0;
}

h2, h3 {
  font-size: 30px;
  margin-top: 20px;
}

p {
  font-size: 20px;
  margin: 5px 5px 20px 5px;
}

button {
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

.token-changer, .clear-button, .change-game {
  background-color: #a5d3cb;
  border: 2px solid #72baad;
  border-radius: 5px;
  color: white;
}

.clear-button {
  font-size: 30px;
  margin-bottom: 500px;
  padding: 10px 30px;
}


button:hover {
  background-color: #72baad;
  transform: scale(1.2);
  transition: .4s;
}

/* SIDEBARS */
h4 {
  font-size: 40px;
  margin-top: 5px;
}

.user-text, .computer-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.user-sidebar, .computer-sidebar {
  background-color: #d8ece9;
  border-right: 5px solid #72baad;
  width: 15%;
}

.computer-sidebar {
  border-left: 5px solid #72baad;
  border-right: none;
}

.token-1, .token-2 {
  height:80px;
  margin: 10px;
  background-color: #d8ece9;
}

.token-changer, .change-game {
  font-size: 20px;
  height: 70px;
  margin-top: 30px;
  width: 180px;
}

.token-changer:hover, .change-game:hover {
  font-size: 22px;
}

/* MAIN DISPLAY */
.main-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
}

.weapon-images {
  display: flex;
}

.game-options {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 78%;
  width: 100%;
}

.game-box {
  align-items: center;
  background-color: #a5d3cb;
  border: 3px solid #72baad;
  display: flex;
  flex-direction: column;
  margin: 40px;
  width: 100%;
}

.classic-button, .spicy-button {
  align-items: center;
  display: flex;
  height: 38%;
  justify-content: center;
  margin: 20px;
  width: 44%;
}

.spicy-button {
  width: 60%;
}

.box-title {
  align-items: center;
  display: flex;
  margin: -10px;
}

.mini-image {
  height: 40px;
  margin: 20px;
  weight: 40px;
}

.title {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.classic-images, .spicy-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 360px;
  width: 80%;
}

.spicy-images {
  margin-bottom: 180px;
}

.weapon-1, .weapon-2, .weapon-win {
  height: 200px;
  margin: 20px 40px;
  padding: 20px;
  transition: 0.6s;
}

.weapon-1:hover, .weapon-2:hover {
  transform: scale(1.4);
}

.weapon-win {
  padding: 20px 10px 40px 10px;
}

.game-box:hover {
  background-color: #72baad;
  border: 3px solid #a5d3cb;
  transform: scale(1.05);
  transition: .4s;
}

.win-result {
  font-size: 40px;
  margin-top: 80px;
}

.refresh-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 64%;
}

.hidden {
  display: none;
}
